<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Charles Bloomberg - Resume</title>
    <link rel="stylesheet" href="./template6.css" />
  </head>
  <body>
    <div class="container">
      <header class="header">
        <h1>Charles Bloomberg</h1>
        <div class="contact-info">
          <p>
            Seoul, South Korea •
            <a href="mailto:charlesbloomberg@gmail.com"
              >charlesbloomberg@gmail.com</a
            >
            • <a href="tel:+821799554">(621) 799-5548</a> •
            <a href="https://in/cbloomberg">in/cbloomberg</a>
          </p>
        </div>
      </header>

      <main>
        <section class="professional-summary">
          <h2>PROFESSIONAL SUMMARY</h2>
          <p>
            Passion for building inspiring companies through industry-leading
            tech, design, and execution. An experienced early-stage global
            executive with an economics degree from the University of Wisconsin
            - Madison. Looking to join as a global startup consultant.
          </p>
        </section>

        <section class="professional-experience">
          <h2>PROFESSIONAL EXPERIENCE</h2>

          <article class="job">
            <div class="job-header">
              <h3>CEO & Founder</h3>
              <p class="company">Rezi</p>
              <p class="date-location">
                August 2015—Present, Seoul, South Korea
              </p>
            </div>
            <ul>
              <li>
                Built Rezi - the most loved resume software in the world,
                trusted by over 2,227,254 users.
              </li>
              <li>
                Founded Rezi at the age of 22. At 23, successfully globalized
                into South Korea growing to be South Korea's leading English
                resume company, the most awarded global startup in South Korea,
                and securing over $650,000 in investment, grants, and awards.
              </li>
              <li>
                Collaborated with the development team to engineer scalable
                partnership strategies such as redemption-code-based access
                which resulted in over 50,000 new users in 1 month with zero
                marketing dollars spent.
              </li>
              <li>
                Accountable for developing new business models as a response
                towards market conditions and opportunities which resulted in
                the development of 3 new core departments including e-learning,
                global recruiting, and data-vending.
              </li>
              <li>
                13 full time employees; 2,227,254 users; $650,000 total raised
                investment; $40,000,000 valuation.
              </li>
            </ul>
          </article>

          <article class="job">
            <div class="job-header">
              <h3>Web Developer</h3>
              <p class="company">Kaplan</p>
              <p class="date-location">May 2015—November 2015, La Crosse, WI</p>
            </div>
            <ul>
              <li>
                Executed website redesign of kaplancleantech.com using
                Expression Engine as a CMS while working with marketing and
                sales teams. Optimized 3 landing page variants using, HTML, A/B
                testing software and customer feedback to increase leads for
                sales teams.
              </li>
              <li>
                Lead the developing SEO strategies monitoring campaigns using
                MOZ Analytics for a 500k budget. Maintained performance through
                site analysis, and new keyword research. Prepared analytics and
                ranking reports presented to management.
              </li>
              <li>
                Executed Google Analytics tracking campaigns to maximize the
                effectiveness of 5 email re-marketing initiatives deployed using
                Salesforce software. Used Salesforce Object Query Language, C,
                and Python to search for data for specific information.
              </li>
            </ul>
          </article>

          <article class="job">
            <div class="job-header">
              <h3>Marketing Analyst</h3>
              <p class="company">Kaplan</p>
              <p class="date-location">November 2014—May 2015, La Crosse, WI</p>
            </div>
            <ul>
              <li>
                Relied and implement Tableau dashboards to track 6 marketing
                KPIs. Used data to create reports circulated amongst leadership.
                Collaborated with marketing specialists to improve marketing
                strategies to maximize ROI such as introducing Facebook
                retargeting.
              </li>
              <li>
                Used SurveyMonkey to collect over 100 customer feedbacks used to
                conduct analysis, identify market trends, and calculate NPS.
                Used customer feedback data and optimization software to present
                and suggest website improvements to management.
              </li>
              <li>
                Managed mobile 2 PPC strategy efforts, using Google AdWords
                Editor and Marin, by teaching marketing specialists best
                practices to prepare for the behavioral shift towards increased
                reliance on mobile.
              </li>
            </ul>
          </article>

          <article class="job">
            <div class="job-header">
              <h3>Web Development Intern</h3>
              <p class="company">Wisconsin Public Television</p>
              <p class="date-location">June 2012—September 2012, Madison, WI</p>
            </div>
            <ul>
              <li>
                Integrated Analytics and marketing pixels to track behavior when
                introducing promos which brought in over $235k in sales.
              </li>
              <li>
                Redesigned company intranet to integrate current company
                processes with new website.
              </li>
            </ul>
          </article>
        </section>

        <section class="consultancy">
          <h2>CONSULTANCY</h2>
          <article class="job">
            <div class="job-header">
              <h3>Early-Stage Startup Architect</h3>
              <p class="company">Independent Startup Consultant</p>
              <p class="date-location">June 2020 - Present</p>
            </div>
            <ul>
              <li>
                Worked with 3 global founders to bring well-executed MVPs to
                market through no-code and "ship-first" methodologies.
              </li>
            </ul>
          </article>
        </section>

        <section class="education">
          <h2>EDUCATION</h2>
          <article class="degree">
            <h3>
              Bachelor of Science in Economics with a Mathematics Emphasis
            </h3>
            <p>
              University of Wisconsin - Madison • Powers-Knapp Scholar • 2014
            </p>
          </article>
        </section>

        <section class="skills">
          <h2>EXPERT-LEVEL SKILLS</h2>
          <div class="skill-group">
            <p>
              <strong>Leadership:</strong> Speaking, Fundraising, Product
              Development, Communication, Partnerships, International Marketing
            </p>
            <p><strong>Front End:</strong> HTML, CSS, Bootstrap, Webflow</p>
            <p>
              <strong>Fields of Interest:</strong> Early-Stage Fundraising,
              Global Entrepreneurship, Web Design, Growth
            </p>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
