<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume Template</title>
    <link rel="stylesheet" href="./template3.css" />
  </head>
  <body>
    <div class="resume">
      <header>
        <h1>NEAL CAFFREY</h1>
        <p>
          example@example.com | <strong>H:</strong> (555) 555-5555 |
          <strong>C:</strong> (555) 555-555 | Nashville, NC 37204
        </p>
      </header>

      <section class="summary">
        <h2>PROFESSIONAL SUMMARY</h2>
        <p>
          Use this section as your "elevator pitch" - a concise explanation of
          why you're the right person for the job. Emphasize top skills
          (including personal traits that tell employers how you approach work),
          specific expertise, and any notable work experiences that match what
          the potential job needs. Keep this section to two to three sentences.
        </p>
      </section>

      <section class="skills">
        <h2>SKILLS</h2>
        <ul>
          <li>Review the job posting and pick out key skills.</li>
          <li>Feature skills of your own that match these key skills.</li>
          <li>
            Your resume format determines how large your skills section is —
            functional resumes will feature several skill categories, while
            other formats will feature less.
          </li>
        </ul>
      </section>

      <section class="work-history">
        <h2>WORK HISTORY</h2>
        <div class="job">
          <p class="job-date">Jun 2018 - Current</p>
          <h3>Position</h3>
          <p>Company - Company City, Company State</p>
        </div>
        <div class="job">
          <p class="job-date">Jun 2015 - May 2018</p>
          <h3>Position</h3>
          <p>Company - Company City, Company State</p>
        </div>
        <div class="job">
          <p class="job-date">Jul 2012 - Jun 2015</p>
          <h3>Position</h3>
          <p>Company - Company City, Company State</p>
        </div>
      </section>

      <section class="education">
        <h2>EDUCATION</h2>
        <h3>Degree Obtained: Field of Study</h3>
        <p>School Name | City And State Where The School Is Located</p>
      </section>

      <section class="certifications">
        <h2>CERTIFICATIONS</h2>
        <p>
          Field of Study, School Name, City and state where the school is
          located
        </p>
      </section>
    </div>
  </body>
</html>
